@page "/customers"
@using DemoProducts.Data

<span>
    <button class="btn btn-primary mr-auto" @onclick="() => ShowCustomerDialog()">Create Customer</button>
</span>

<br/>

@if (_showDialog)
{
    <_CustomerDialog OnClose="@CloseCustomerDialog"></_CustomerDialog>
}

@code {

    private bool _showDialog = false;
    private IEnumerable<CustomerDto> CustomerList { get; set; } = new List<CustomerDto>();

    private void ShowCustomerDialog()
    {
        _showDialog = true;
    }

    private void CloseCustomerDialog()
    {
        _showDialog = false;
    }

}